@charset "utf-8";

html,body{width:100%;height:100%}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-family:dotum,Helvetica,sans-serif;font-size:1em;color:#383d41}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary { display:block; }
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all}
img,fieldset,iframe{border:0 none}
li{list-style:none}
img,input,select,button{vertical-align:middle}
em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0}
a{color:#929292;text-decoration:none}
a:hover{color:#727272;text-decoration:none;}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{height:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}

.pt10 { padding-top:10px; }
.pt30 { padding-top:30px; }
.mt30 { marign-top:30px; }

.page { padding:10px; }
.tiparea { font-weight:bold; height:100px}
.item { text-align:center;}
.item li { padding-bottom:20px; }
.item li:last-child { padding-bottom:0; }

.ui-box { border-radius:3px; padding:10px; }
.ui-box-white { border:solid 1px white; background:white; }
.ui-box-lightgray { border:solid 1px #d0d0d0; background:#f7f7f7; }
.ui-box-shadow { box-shadow:3px 3px 3px silver; }

h2 {  }
.icon-arrow-green { background:url(../img/icon_blot.png) 0 2px no-repeat; padding:0 0 0 18px; height:25px; }

.product-info {  }
.product-info li { vertical-align: middle; padding-bottom:5px;}
.product-info li:last-child { padding-bottom:0; }
.product-info li span { display:inline-block; }
.product-info li .blot { padding:0 5px 0 20px; }
.product-info li .name { width:75px;  }
.product-info li .split { width:10px;  }


/* 게시판 기본 */
.tbl_nor,.tbl_nor th,.tbl_nor td{border:0}
.tbl_nor {width:100%;border-top:6px solid #53980a; border-bottom:1px solid #b9babf;}
.tbl_nor caption{display:none}
.tbl_nor th{padding:6px 0; border-top:1px solid #e6e6e6;background:#edf7e8; }
.tbl_nor td{ padding:6px 0 6px 5px; border-top:1px solid #e6e6e6;}
.tbl_nor .th td { background:#fafafa;}

.tbl_nor .desc { text-align:center; font-size:1em;}

.ui-btns { text-align: center; padding-top:10px; }

button { border:solid 1px #009a1d; color:#fff; font-weight:bold; border-radius:5px; padding:3px 10px; margin:0px 15px;
background-image: linear-gradient(bottom, rgb(14,155,35) 0%, rgb(0,204,31) 100%);
background-image: -o-linear-gradient(bottom, rgb(14,155,35) 0%, rgb(0,204,31) 100%);
background-image: -moz-linear-gradient(bottom, rgb(14,155,35) 0%, rgb(0,204,31) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(14,155,35) 0%, rgb(0,204,31) 100%);
background-image: -ms-linear-gradient(bottom, rgb(14,155,35) 0%, rgb(0,204,31) 100%);
background-image: -webkit-gradient(linear,
	left bottom,
	left top,
	color-stop(0, rgb(14,155,35)),
	color-stop(1, rgb(0,204,31))
);}

.tabhost {}
.tabhost li { float:left; margin-left:5px; display:inline-block; padding:5px 10px 0 10px; border-left:1px solid #53980a; border-top:1px solid #53980a; border-right:1px solid #53980a; border-radius:5px 5px 0 0; font-weight:bold; }
.tabhost li:first-child {margin-left:0;}
.tabhost .select { background:#53980a; color:#fff; }